@model List<Tarefas.Web.Models.TarefaViewModel> 



<form asp-action="Listar">

    <style>
        .custom-jumbotron {
            background-color: DodgerBlue;
            color: white;
        }
    </style>
    <div>
        <div class="jumbotron text-center custom-jumbotron">
            <h3><strong>Lista de Tarefas Cadastradas</h3></strong>
      
        </div>
    </div>
<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Título</th>
      <th scope="col">Descrição</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var item in Model)
        {
        <tr>
         
            <td>@item.Id</td>
            <td>@item.Titulo</td>
            <td>@item.Descricao</td>
            <td>@item.Status</td>
        
                <td>
                <button type="submit" class="btn btn-primary"
                    class="nav-link text-dark"
                    asp-area=""
                    asp-controller="Tarefa"
                    asp-action="Detalhe"
                    asp-route-id="@item.Id">Detalhe
                  
                </button>
                    
                </td>
                <td>
                
                <button type="submit" class="btn btn-success"
                    class="nav-link text-dark"
                    asp-area=""
                    asp-controller="Tarefa"
                    asp-action="Editar"
                    asp-route-id="@item.Id">Editar
               
                </button>
                    
                </td>
                <td>
            
                <button type="submit" class="btn btn-danger"
                    class="nav-link text-dark"
                    asp-area=""
                    asp-controller="Tarefa"
                    asp-action="Excluir"
                    asp-route-id="@item.Id">Excluir
                    
               
                </button>
                </td>
        </tr>
          
        }
        </tbody>
    </table>
</div>
</form>
